.modal{
    width:18.5vw;
    height: 25vw;
    background:#B9D6F3;
    border: 1px solid #ccc;
    opacity: 1;
    z-index: 9;
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right: 0;
    bottom: 0;;         
    border-radius: 5px;
    display: none;
}
.modalHead{
    padding:.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        :nth-child(1){
            margin-right: .5vw;
        }
        li{
            display: inline-block;
            cursor: pointer;
        
            a{
                text-decoration: none;
                color:#223046;
                
            }
        
        }
    }
}
li:hover{
    color:green;
}
i{
    cursor: pointer;
}
.modalShow{
    display:block;
}
h2{
    color:red;
    font-size: 20px;
    text-align: center;
}